<% provide(:title, "Shift Options") %>
<div class="center jumbotron">
  <h1>Shift Options</h1>

  <h2>
   
    
  </h2>

  <%= link_to "Start New", newEntry_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Previous", showShift_path, class: "btn btn-lg btn-primary" %>
</div>

